<!DOCTYPE html>
<html>
<head>
  <title>JqUiGridRails</title>
  <%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css' %>
  <%= stylesheet_link_tag 'jqGrid/css/ui.jqgrid.css' %>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' %>
  <%= javascript_include_tag 'jqGrid/js/i18n/grid.locale-pt-br.js' %>
  <%= javascript_include_tag 'jqGrid/jquery.jqGrid.js' %>
  <%= javascript_include_tag 'sprintf' %>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
